@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* DONOR CONTENTS */
body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    margin: 20px;
}

hr {
    border: none;
    border-radius: 10px;
    height: 2.5px;
    background-color: #2DAF89;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    background: white;
}

table:hover th {
    border: 1px solid #2DAF89;
    background-color: #2DAF89;
}

table:hover td {
    border: 1px solid #2DAF89;
}

th, td {
    border: 1px solid #9d9d9d;
    padding: 8px 12px;
    text-align: center;
}

th {
    background: #9d9d9d;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.status-table {
    display: grid;
    margin: 10px;
}

.status-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #9d9d9d;
}

.interactive-underline {
    background-color: #9d9d9d;
}

body:hover .interactive-underline {
    background-color: #2DAF89;
}

.content {
    display: block;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.other-text {
    display: block;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.title {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    background-color: #2DAF89;
}